h1 {
    font-size: 72px;  
}

body {
    background-color: white;
}

h1.meow {
    color: #1f00ff;
    text-decoration: underline;
    font-size: 60px;
}

h2 {
    color: #272180;
}

h4.job-title {
}

h2#menu {
    font-weight: bold;
    font-size: 14px;
    color: purple;
}

a {
    color: purple;
}

h2#job {
    color: blue;
}

/* .navlink {
    color: red;
} */